<ion-content [fullscreen]="true" class="content">
<div>
    <label>Work</label>
    <label>In</label>
    <label>Out</label>
    <ion-img
      src="/assets/images/ff.png"
      alt="Image"
    ></ion-img>
    <div>
      <label>Nome de utilizador</label>
      <div style="align-items: center;">
        <input class='username' type='text' placeholder=''  />
      </div>
    </div>
    <div>
      <label>Password</label>
    </div>
    <input class='password' type='password' placeholder=''  />
    <ion-button (click)="toHome()" expand="block">Entrar</ion-button>
    <ion-button (click)="toRegister()" expand="block">Registar</ion-button>
  </div>
</ion-content>
