<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="treinar">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Treinar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="planos">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Planos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
